#header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 10px 10px 10px 10px;
    height: 1800px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    color: black;
}

#left-container{
    height: 450px;
    width: 29%;
    float: left;
    margin: 5 5 5 5;
}

#right-container{
    height: 100px;
    width: 48%;
    float: right;
    margin: 5 5 5 5;
}

.subject-posters{
    width: 1100px;
    align-items: center;
}

#footer {
    clear: both;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.nlp-container {
    padding: 20px;
}

.robotics-container {
    padding: 20px;
    background-color: #91c8d1;
    color: white;
}

.light-grey-box {
    background-color: #fff;
}

.float-left {
    float:left;
    padding: 10px;
}

.software-enginering-container {
    padding: 20px;
    background-color: #ffeaec;
    color: black;
}

.pink-container {
    padding: 20px;
    margin: 10px;
    height: 1000px;
}

.robotics-blue-container {
    padding: 20px;
    background-color: #578f99;
    margin: 10px;
    height: 1000px;
}

.profile-image {
    float:left;
    margin: 60px 40px 10px 0px;

}

.nlp-text {
    font-family: "Spartan", Arial, sans-serif;
    font-size: 13pt;
    color: black;
}

.robotics-text {
    font-family: "Spartan", Arial, sans-serif;
    color: black;
}

.nlp-content {
    margin: 40px 40px 10px 10px;
    float: left;
    width: 100%;
}

.robotics-content{
    margin: 40px 40px 10px 10px;
    float: left;
    width: 100%;
}

.nlp-intro {
    width: 65%;
    float: left;
    padding: 10px;
    background-image: "/images/speech.png";
    font-family: "Raleway", Arial, sans-serif;
}

.robotics-intro {
    width: 65%;
    float: left;
    padding: 10px;
    background-color: white;
    background-color: #91c8d1;
}

p {
    padding: 6px;
    font-family: "Raleway", Arial, sans-serif;
}

body {
    background-color: #fff;
    font-family: "Raleway", Arial, sans-serif;
    justify-content: center;
}

h3, h4, h5, h6 {
  font-family: "Spartan", Arial, sans-serif;
  letter-spacing: 5px;
  text-align: center;
}

h1, h2 {
    text-align: left;
    font-family: 'Gaegu', cursive;
}

h1 {
    font-size: 30pt;
}

h2 {
    font-size: 20pt;
}

.subject-nlp-container{
    width: 100%;
    background-color: #FFE8E9;
    float:left;
    padding: 20px;
}

.subject-hci-container{
    width: 100%;
    background-color: #AAB2B8;
    float:left;
    padding: 20px;
    color: black;
}

.no-background-container{
    width: 100%;
    float:left;
    padding: 20px;
}

.left-content{
    width: 50%;
    float:left;
}

.did-you-know-outer-hci {
    margin: 5px;
    padding: 5px;
    background-color: #45525d;
    color: white;
}

.did-you-know-outer {
    margin: 5px;
    padding: 5px;
    background-color: #FFC6C8;
}

.did-you-know-inner {
    padding: 10px;
}
